h1 {
  font-size: 60px;
  font-weight: bolder;
  margin-top: 10px;
}

h2 {
  display: inline;
  font-size: 40px;
}

h3 {
  display: inline;
  font-size: 30px;
}

h4 {
  font-size: 25px;
  text-transform: capitalize;
}

h5 {
  font-size: 15px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  font-size: 20px;
}

footer {
  margin: none;
  text-align: center;
}

.weather-app {
  max-width: 700px;
  min-width: 700px;
  margin: 60px auto;
}

.card {
  color: #3f3d56;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 20px;
  padding: 20px;
}

.search-form {
  display: block;
  margin: 0 20px auto 20px;
}

.date {
  color: #ff63d7;
}

.forecast {
  font-size: 15px;
  font-weight: 450;
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 736px) {
  .card {
    margin-bottom: 20px;
    }
}