h1 {
  font-size: 100px;
  font-weight: bolder;
  margin-top: 20px;
}

h2 {
  display: inline;
  font-size: 80px;
}

h3 {
  display: inline;
  font-size: 50px;
}

a {
  text-decoration: none;
}

h4 {
  font-size: 40px;

  text-transform: capitalize;
}

h5 {
  font-size: 25px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  font-size: 30px;
}

footer {
  margin: none;
  text-align: center;
}

.card {
  color: #3f3d56;
  display: block;
  font-family: "Quicksand", sans-serif;
  margin: 20px auto;
  min-width: 950px;
  max-width: 950px;
  padding: 20px 20px 20px 20px;
}

.search-form {
  display: block;
  margin: 0 20px auto 20px;
}

.weather-temperature .active {
  color: #3f3d56;
  cursor: default;
}

.date {
  color: #ff63d7;
}

.forecast {
  font-size: 25px;
  margin-top: 20px;
  text-align: center;
}
